# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

venv
node_modules
.env
.env.local
.env.development.local


.env
/backend/node_modules
/backend/venv-3.10


/venv/*
/.venv/*
.venv/*
/.venv-3.10/*
/.venv/bin/*


/backend/venv/*
/backend/.venv/*
/backend/.venv-3.10/*
/backend/.venv/bin/*

/frontend/venv/*
/frontend/.venv/*
/frontend/.venv-3.10/*
/frontend/.venv/bin/*

/backend/venv/*
/backend/.venv/*
/backend/.venv-3.10/*
/backend/.venv/bin/*
backend/*
