.legend {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 1px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legend span {
  padding: 3px 10px;
  border-radius: 1 px;
  font-weight: bold;
  color: white;
}

.legend .low {
  background-color: #2eb64d;
}

.legend .medium {
  background-color: rgb(11, 102, 11);
}

.legend .high {
  background-color: #ff9800;
}

.legend .very-high {
  background-color: #dc3545;
}

.legend .extreme {
  background-color: #6f42c1;
}

form {
  display: absolute;
  width: 95
  %;
}

input[type="text"] {
  flex-grow: 1;
  width: calc(80% - 60px); /* Adjust the width as needed */
}

button {
  width: 120px; /* Width of the search button */;
  color: blue
}
