
/* Common form container */
.form-container {
  width: 350px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #fff, #dcdcdc);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  font-size: 16px;
}

/* Button */
button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #ccc;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #888;
}

/* Additional text */
.additional-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.additional-text a {
  color: #000;
  text-decoration: underline;
}

.legend {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 1px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legend span {
  padding: 3px 10px;
  border-radius: 1 px;
  font-weight: bold;
  color: white;
}

.legend .low {
  background-color: #2eb64d;
}

.legend .medium {
  background-color: rgb(11, 102, 11);
}

.legend .high {
  background-color: #ff9800;
}

.legend .very-high {
  background-color: #dc3545;
}

.legend .extreme {
  background-color: #6f42c1;
}

form {
  display: absolute;
  width: 95
  %;
}

.header img {
  width: 64px; /* Adjust based on your preference */
  height: auto;
  object-fit: contain;
}

.header .logout-button {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.header .logout-button:hover {
  background-color: darkgreen;
}

input[type="text"] {
  flex-grow: 1;
  width: calc(80% - 60px); /* Adjust the width as needed */
}

button {
  width: 120px; /* Width of the search button */;
  color: blue
}
